# IDE
/.idea
/*.iml
/.idea_modules
/.bsp
/.metals
/.bloop
/.vscode
/sample/.bsp

# sbt
target/
project/project/
project/target/
sample/project/project/
sample/project/target/
sample/logs/

# misc
/log
.DS_Store
